<header class="text-center">
    <div class="flex p-1 pb-8">
        <a href="/" class="text-sm px-8 font-semibold">PHOTO + VIDEO EDITOR</a>
        <a href="/" class="text-sm px-8 font-semibold">PHOTOGRAPHY COMMUNITY</a>
        <a href="/" class="text-sm px-8 font-semibold">BUSINESSES + BRANDS</a>
        <a href="/" class="text-sm px-8 font-semibold">FEATURES</a>
        <a href="/" class="text-sm px-8 font-semibold">PLANS + PRICING</a>
    </div>
</header>